* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(120deg, #1f2937, #111827);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor principal */
section {
    background: #1f2937;
    padding: 2.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    color: white;
}

/* Título */
section h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Bloques label + input */
form div {
    display: flex;
    flex-direction: column;
}

/* Labels */
label {
    font-size: 0.9rem;
    color: #cbd5f5;
    margin-bottom: 0.3rem;
}

/* Inputs */
input {
    width: 100%;
    padding: 0.7rem;
    border-radius: 6px;
    border: none;
    background: #111827;
    color: white;
    font-size: 1rem;
}

input::placeholder {
    color: #6b7280;
}

input:focus {
    outline: 2px solid #22c55e;
}

/* Botón */
button[type="submit"] {
    margin-top: 1.2rem;
    padding: 0.9rem;
    background: #22c55e;
    border: none;
    border-radius: 6px;
    color: #022c22;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

button[type="submit"]:hover {
    background: #16a34a;
}











/* === Mostrar / ocultar contraseña === */

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 50px;
}

.toggle-password {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    background: #22c55e;   /* VERDE */
    border: none;
    border-radius: 6px;

    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-size: 16px;
    color: white;

    margin: 0;
    padding: 0;
    line-height: 1;
}


.toggle-password:hover {
    background: #16a34a;
}
