<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calendario</title>

  <!-- FullCalendar CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css">

  <!-- Tu CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='calendario.css') }}">

</head>

<body>
  <div class="calendar-container" id="calendar"></div>

  <!-- FullCalendar JS -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

  <!-- Tu JS -->
  <script src="{{ url_for('static', filename='calendario.js') }}"></script>
</body>
</html>
